/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* PROJECT GALLERY */
#p1 {
    background-image: url("../imgs/comm/Built for the Bold/B_poster.png");
}

#p2 {
    background-image: url("../imgs/comm/Life Drawing/poster.png");
}

#p3 {
    background-image: url("../imgs/comm/Promo/poster.png");
}

#p4 {
    background-image: url("../imgs/comm/Vimeo/V_poster.png");
}

#p5 {
    background-image: url("../imgs/comm/One/O_poster.png");
}

#p6 {
    background-image: url("../imgs/comm/Timberland 50th/T_poster.png");
}

#p7 {
    background-image: url("../imgs/comm/Iberia/poster.png");
}

#p8 {
    background-image: url("../imgs/comm/Nostos/N_poster.png");
}

/* GENERAL USE TAGS */
.wide {
    grid-column: 1/3;
}

.visible {
    opacity: 1;
}

.pInfo {
    opacity: 1;
    transition: opacity 600ms linear;
}

/* SITE CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

html {
    background-color: rgb(10, 10, 10);
    color: rgb(231, 247, 239);
    font-family: "Catamaran", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

.projectContainer {
    align-items: center;
    display: grid;
    gap: 7.5px;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.projectContainer > a {
    background-position: center;
    background-size: cover;
    height: 20vw;
}

.projectContainer video {
    height: auto;
    max-width: 100%;
}

.projectContainer h4 {
    color: rgb(100, 100, 100);  
    font-weight: 500;
    margin: 15px 0 50px 0;
    text-align: center;
}

.aboutContainer {
    display: grid;
    grid-column: 2;
    padding: 50px;
    position: fixed;
}

.aboutContainer ul {
    line-height: 20pt;
}

.aboutContainer section:nth-child(3) {
    display: none;
}

.pcProject {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    line-height: 19pt;
    opacity: 0;
    padding: 25px;
    transition: opacity 600ms linear;
    width: 100%;
}

.pcProject:hover {
    opacity: 1;
}

/* MEDIA QUERY - <1024px screens will switch to two-column grid. */
@media (max-width: 1100px) {
    .aboutContainer section {
        font-size: 90%;
    }
}

@media (max-width: 769px) {
    .projectContainer h4.wide {
        font-size: 75%;
    }

    .aboutContainer {
        font-size: 70%;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .projectContainer {
        grid-template-columns: 1fr;
    }

    .wide {
        grid-column: 1;
    }
}

@media (min-width: 1440px) {
    .aboutContainer {
        font-size: 110%;
        padding: 50px;
    }
} 

@media (min-width: 2560px) {
    .aboutContainer {
        font-size: 150%;
        padding: 75px;
    }
}