/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

/* PROJECT GALLERY */
#p1 {
    background-image: url("../imgs/comm/Built for the Bold/B_poster.png");
}

#p2 {
    background-image: url("../imgs/comm/Life Drawing/poster.png");
}

#p3 {
    background-image: url("../imgs/comm/Promo/poster.png");
}

#p4 {
    background-image: url("../imgs/comm/Vimeo/V_poster.png");
}

#p5 {
    background-image: url("../imgs/comm/One/O_poster copy.jpg");
}

#p6 {
    background-image: url("../imgs/comm/Timberland 50th/T_poster.png");
}

#p7 {
    background-image: url("../imgs/comm/Iberia/poster.png");
}

#p8 {
    background-image: url("../imgs/comm/Nostos/N_poster.png");
}

/* GENERAL USE CLASSES */
.wide {
    grid-column: 1/3;
}

/* SITE CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

html {
    background-color: rgb(10, 10, 10);
    color: rgb(231, 247, 239);
    font-family: "Catamaran", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    width: 100%;
}

a {
    color: inherit;
    position: relative;
    text-decoration: none;
}

img, video {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

footer {
    align-self: end;
}

.projectContainer {
    display: grid;
    gap: 7.5px;
    grid-template-columns: 1fr 1fr;
}

.projectContainer > a {
    background-position: center;
    background-size: cover;
    height: 35vh;
}

.projectContainer h4 {
    color: rgb(100, 100, 100);  
    font-weight: 500;
    margin: 15px 0 50px 0;
    text-align: center;
}

.pcProject {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    line-height: 19pt;
    opacity: 0;
    padding: 25px;
    transition: opacity 600ms linear;
    width: 100%;
}

.pcProject:hover {
    opacity: 1;
}

.aboutContainer {
    display: grid;
    grid-column: 2;
    height: 100vh;
    overflow-y: scroll;
    padding: 50px;
    position: fixed;
}

/* MEDIA QUERIES */
/* <1024px, projects becomes single-column and titles drop. */
@media (max-width: 1235px) {
    .wide {
        grid-column: auto;
    }

    .projectContainer {
        gap: 5px;
        grid-template-columns: 1fr;
    }

    .pcProject {
        font-size: 88%;
    }

    .aboutContainer {
        font-size: 90%;
    }
}

/* <769px, page becomes single-column and reliant on phone interface to move forward/back; no about section. */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .projectContainer > a {
        height: 30vw;
    }

    .projectContainer h4 {
        font-size: 10pt;
        font-weight: 400;
        margin-top: 10px;
    }

    .pcProject{
        display: none;
    }
}